body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #00ff00; /* Verde */
    color: #000; /* Texto en negro */
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.project {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.project h2 {
    margin-top: 0;
    color: #fff; /* Texto en blanco */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #00ff00; /* Verde */
    color: #000; /* Texto en negro */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilo para el carrusel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
